body {
	margin: 0;
	font-family: paralucent;
	font-weight: 800;
}

header
{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container-hero {
  position: relative;
  text-align: center;
  color: #F3F3F3;
  font-family: paralucent;
  background: #f3f3f3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: #43726E;
  opacity: .6;
  position: absolute;
}

.container-hero .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  padding: 10px 16px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 5px;
}

.container-hero .btn:hover {
  background-color: rgba(255,255,255, 0.3);
  color: #FFF;
}


h1
{
    font-family: paralucent;
    font-size: 40px;
    text-align: center;
    padding-top: 2rem;
    color: #43726E;
}

h2
{
    font-family: paralucent;
    text-align: center;
    padding-top: 2rem;
    font-size: 45px;
    color: #43726E;
    
}

p
{
    font-family: warnock display pro;
    font-size: 18px;
    text-align: center;
}

.centered 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 49px;
  padding: 0;

}

.centered-overlap 
{
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 60%;
  font-size: 113px;
}


header a {
  color: #f3f3f3;
}

header .logo
{
  float: left;
  padding: 10px 10px;
  height: 7rem;
  z-index: 1;
  position: fixed;
}

header .menu-link {
  text-align: right;
  line-height: 1;
  text-decoration: none;
  display: block;
  padding: 2rem 1rem;
  color: #f3f3f3;
}

.reveal {
  background-color: #2C4A45;
}

.reveal .grid-x {
  height: 100vh;
  margin: inherit;
}

.reveal .menu a {
  font-size: 1.5rem;
  color: #f3f3f3;
}

.container-subheading
{
    color: #43726E;
    margin: 1rem
    font-size: 50px;
}


.container-details
{
    overflow: hidden; 
    padding-bottom: 4rem;
    background-image: linear-gradient(#fff 45%, #43726E 65%);
}

.image {
    position: relative;
    width: 280px;
    margin:auto;
    
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #f3f3f3;
    font-family: 'paralucent', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--primary {
    background: blur;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 3em;
    font-weight: bold;
}

.image__description {
    font-size: 1em;
    margin: 0.80em;
    text-align: center;
}


.container-title
{
    font-size: 50px;
    /*background-color: #43726E;*/
    padding:inherit;
    color: #43726E;
}


.container-discounts
{
  /* background-color: #43726E;*/
  background-image: linear-gradient(#fff 45%, #43726E 65%);
  padding-bottom: 3rem;
  align-content: center;
  padding: 3rem;
  padding-right: 1rem;
}



footer
{
    background-color: #43726E;
    font-family: warnock pro display;
    color: #F3F3F3;
    text-align: right;
    padding: 2rem;
    font-size: 15px;
}

.footer h1
{
    color: #F3F3F3;
    font-size: 28px;
    
}

.footer i
{
    padding: 4rem
    position:relative;
    
    
}

/* CODE FOR ACCESSIBLE SKIP LINK – DO NOT DELETE */

.skip-link {
  position: absolute;
  padding: .5rem 1rem;
  color: #f3f3f3;
  background-color: #F9DF83;
  text-decoration: none;
  z-index: 10;
  transform: translateY(-100%);
  transition: transform .3s ease-out;
}

.skip-link:focus {
  transform: translateY(0);
  outline: #43726E solid .125rem;
}


thead
{
    padding: 5rem;
    background-color: #43726E;
    color: #F3F3F3
    border: 0;
    
}

h3
{
    font-family: paralucent;
    color: #f3f3f3;
}


@media print {
  .skip-link {
    display: none;
    padding-bottom: 2rem;
  }
}


@media screen and (max-width: 600px) {
  .head, #centered-overlap, #centered, #hero, #details, #discounts, #header, #content, #footer {
    float: none;
    width: auto;
    
  }
    
.image {
    position: relative;
    width: 245px;
    margin:auto;
    }
    
 #subtitle, #share, #slider, #sidebar{
    display:none;
  }
 p{ font-size: 1rem; }
    h1{ font-size: 2rem; }
    h2{ font-size: 2rem; }
    .centered{ font-size: 19px; }
    .centered-overlap{ font-size: 44px; }
}

  